<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Mon site Flask</title>
</head>
<body>
    <h1>Bienvenue sur notre plateforme</h1>
    <form action="{{ url_for('search') }}" method="GET">
        <input type="text" name="query" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
    </form>

     <div class="general_block">   
        
        <div class="block">
            <a href="https://812e-2001-861-3f05-5650-b88b-cd3d-118a-f228.ngrok-free.app/">
                Cliquez sur ce lien pour découvrier notre application qui permettra de faire une detection de votre visage
            </a>
        </div>
        
        <div class="block">
            <a href="lien2.html"> ekjqfshcqusid kjqhbdiqusfbc qsbdqdvkIDVBHJLKFYUC QFBCKQSGCYUSQDBQDCNSHDVC QSKBSBQVSYUDF
            </a>
        </div>
    </div>  

</body>
</html>
